body {
    background-color: #3a9785;
}

.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.navBar {
    width: 100%;
    background-color: #0f6352;
    overflow: auto;
}

.navBar a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 25%;
    text-align: center;
}

.navBar a:hover {
    background-color: #093f34;
}

.navBar a.active {
    background-color: #83d1c2;
}

.login {
    text-align: center;
}

.login label {
    color: white;
    font-size: 25px;
}