@font-face {
    family-name: mainFont;
    font-family: 'Consolas', monospace;
}

body {
    margin-right: 10vw;
    margin-left: 10vw;
}

body, button {
    background-color: #170064;
    font-family: 'Consolas', monospace;
}

.header {
    padding: 10px;
    text-align: center;
    background: #240090;
    color: rgb(160, 155, 226);
    font-size: 30px;
}

.navBar {
    width: 100%;
    background-color: #3200d3;
    overflow: auto;
}

.navBar a {
    float: left;
    color: rgb(160, 155, 226);
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    text-align: center;
}

.navBar a:hover, .navBar a.active:hover {
    background-color: #282828;
}

.navBar a.active {
    background-color: #190061;
}

nav.profileInfos {
    border: 5px solid #190061;
    float: left;
    text-align: left;
}

.pageBody {
    padding: 10px;
    text-align: center;
    background: #240090;
    color: rgb(160, 155, 226);
    font-size: 20px;
    height: 100%;
}

button.loginbtn {
    background-color: #190061;
    border: none;
    text-decoration: none;
    padding: 10px;
}

button.infos {
    background-color: #240090;
    border: none;
    text-decoration: none;
    font-size: large;
}

button.infos:hover {
    color: #282828;
}

button.login_form, button.profile {
    background-color: #190061;
    border: none;
    margin-bottom: 2%;
    text-decoration: none;
    padding: 20px;
}

button.login_form:hover, button.profile:hover, button.loginbtn:hover, button.flip:hover {
    background-color: #282828;
}

button {
    color: rgb(160, 155, 226);
}

form {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

div.flipers {
    background-color: #3200d3;
    display: inline-block;
    padding: 2px;
    width: 20%;
}

button.flip {
    background-color: #190061;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin: 2%;
}

legend {
    padding: 5px 5px;
}

fieldset {
    display: inline-block;
    border: 5px solid #190061;
}

label {
    font-size: 20px;
}

input {
    margin: 4%;
}

h1, h2 {
    padding: 2px;
    color: white;
}

p {
    padding: 5px;
}