@font-face {
    family-name: mainFont;
    font-family: 'Consolas', monospace;
}

body, button {
    background-color: #170064;
    font-family: 'Consolas', monospace;
}

.header {
    padding: 10px;
    text-align: center;
    background: #240090;
    color: rgb(160, 155, 226);
    font-size: 30px;
}

.navBar {
    width: 100%;
    background-color: #3200d3;
    overflow: auto;
}

.navBar a {
    float: left;
    color: rgb(160, 155, 226);
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    text-align: center;
}

.navBar a:hover {
    background-color: #282828;
}

.navBar a.active {
    background-color: #190061;
}

.navBar a.active:hover {
    background-color: #282828;
}

.pageBody {
    padding: 10px;
    text-align: center;
    background: #240090;
    color: rgb(160, 155, 226);
    font-size: 20px;
    height: 100%;
}

button.loginbtn {
    background-color: #190061;
    border: none;
    text-decoration: none;
    padding: 10px;
}

button.loginbtn:hover {
    background-color: #282828
}

form {
    display: inline-block;
    border: 5px solid #190061;
    margin-top: 20px;
    margin-right: 5%;
    width: 25%;
    padding: 2%;
}

button.login_form, button.profile {
    background-color: #190061;
    border: none;
    margin-bottom: 2%;
    text-decoration: none;
    padding: 20px;
}

button.login_form:hover, button.profile:hover {
    background-color: #282828;
}

button {
    color: rgb(160, 155, 226);
}

div.profileInfos {
    border: 5px solid #190061;
    float: left;
    text-align: left;
}

legend {
    padding: 5px 10px;
}

fieldset {
    border: 5px solid #190061;
}

label {
    font-size: 20px;
}

input {
    margin: 4%;
}

h1, h2 {
    color: white;
}