.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  .navBar {
      display: block;
      padding: 10px;
      text-align: center;
      background: #0f6352;
      color: white;
      font-size: 20px;
  }